.header {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  position: relative;
  box-shadow: 0 2px 4px #0000000d;
}

.menu {
  align-items: stretch;
  height: 100%;
  display: flex;
}

.menu__link {
  text-transform: uppercase;
  font: 500 12px / 60px Roboto, sans-serif;
  transition: color .3s;
}

.menu__link:not(:last-child) {
  margin-right: 20px;
}

.menu__link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active:before {
  content: "";
  background-color: #00acdc;
  width: 37px;
  height: 4px;
  position: absolute;
  bottom: 0;
}

.main {
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  gap: 20px;
  width: 944px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
}

.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 32px 16px 16px;
  transition: transform .3s;
  display: flex;
}

.card:hover {
  transform: scale(1.2);
}

.card__img {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.card__link-title {
  color: #060b35;
  text-align: start;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  transition: transform .3s;
}

.card:hover .card__link-title {
  color: #34568b;
}

.card__product-code {
  color: #616070;
  text-align: start;
  width: 100%;
  margin: 0 0 16px;
  padding: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__review {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 24px;
  display: flex;
}

.card__review-text {
  color: #060b35;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
}

.card__price {
  margin-bottom: 16px;
}

.price {
  justify-content: space-between;
  align-self: center;
  width: 100%;
  display: flex;
}

.price__title {
  color: #616070;
  letter-spacing: 0%;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.price__value {
  color: #060b35;
  letter-spacing: 0%;
  text-align: right;
  width: 50px;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0%;
  text-align: center;
  background-color: #00acdc;
  border-radius: 5px;
  width: 100%;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  transition: background-color, color .3s;
}

.button:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}

@media screen and (width >= 488px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 768px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width >= 1024px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
    gap: 46px 48px;
    padding: 50px 40px;
  }
}

.stars {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.stars__star:nth-child(-n+4) {
  background-image: url("star-active.2be54011.svg");
  margin-right: 4px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #060b35;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/*# sourceMappingURL=index.e378193d.css.map */
